{% extends "base.html" %} 
{% load static %}
{% block content %}


<div class="container">
    <div class="card border-secondary mt-5 mb-5">
      <div class="card-body">
        <table class="table table-borderless table-Responsive w-auto">
          <tbody>
            <tr>
              <td>
                <h6><b>Title</b></h6>
              </td>
              <td>
                <h6>{{ post_detail.title }}</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6><b>Item Type</b></h6>
              </td>
              <td>
                <h6>{{ post_detail.item_type }}</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6><b>Location</b></h6>
              </td>
              <td>
                <h6>{{ post_detail.location }}h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6><b>City</b></h6>
              </td>
              <td>
                <h6>{{ post_detail.city }}</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6><b>State</b></h6>
              </td>
              <td>
                <h6>{{ post_detail.state }}</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6><b>Description</b></h6>
              </td>
              <td>
                <h6>{{ post_detail.description }}</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6><b>post date</b></h6>
              </td>
              <td>
                <h6>{{ post_detail.date }}</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6><b>Tag</b></h6>
              </td>
              <td>
                <h6>{{ post_detail.tag }}</h6>
              </td>
            </tr>
            <tr>
              <td><b>Image</b></td>
                <td>
                      <div class="col-md-9">
                        <div class="row mb-5 thumbs">
                          <div class="col-md-4 mt-1">
                            <a href="{{ post_detail.photo_main.url }}" data-lightbox="home-images">
                              <img src="{{ post_detail.photo_main.url }}" alt="" class="img-fluid">
                            </a>
                          </div>
                          {% if post_detail.photo_1 %}
                          <div class="col-md-4 mt-2">
                            <a href="{{ post_detail.photo_1.url }}" data-lightbox="home-images">
                              <img src="{{ post_detail.photo_1.url }}" alt="" class="img-fluid">
                            </a>
                          </div>
                          {% endif %}
                          {% if post_detail.photo_2 %}
                          <div class="col-md-4 mt-2">
                            <a href="{{ post_detail.photo_2.url }}" data-lightbox="home-images">
                              <img src="{{ post_detail.photo_2.url }}" alt="" class="img-fluid">
                            </a>
                          </div>
                          {% endif %}
                      </div>
              </td>
            </tr>
          </tbody>
        </table>
        <center>
        <a href="{% url 'home' %}"><i class="fas fa-backward text-primary"></i></a><br><br>
        <a href="{% url 'request' %}" style="text-align:center;" class="btn btn-success">Request to return</a></center>
      </div>
    </div>
</div>



{% endblock content %}