{% extends "base.html" %} 

{% block content %}

<div class="container">
    <div class="card border-secondary mt-5 mb-5" style="width: 60rem;">
      <div class="card-body">
        <table class="table table-borderless" style="width: 20rem;">
          <tbody>
            <tr>
              <td>
                <h5><b>Title</b></h5>
              </td>
              <td>
                <h5>hello</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5><b>Item Type</b></h5>
              </td>
              <td>
                <h5>hello</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5><b>Location</b></h5>
              </td>
              <td>
                <h5>hello</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5><b>City</b></h5>
              </td>
              <td>
                <h5>hello</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5><b>State</b></h5>
              </td>
              <td>
                <h5>hello</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5><b>Description</b></h5>
              </td>
              <td>
                <h5>hello</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5><b>Posted date</b></h5>
              </td>
              <td>
                <h5>hello</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5><b>Photos</b></h5>
              </td>
              <td>
                <h5>hello</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5><b>Tag</b></h5>
              </td>
              <td>
                <h6>hello</h6>
              </td>
            </tr>
          </tbody>
        </table>
        <a href="#" class="btn btn-secondary">Go somewhere</a>
      </div>
    </div>
</div>

{% endblock content %}